body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: aqua;
}

.elements {
    width: 500px;
    margin: 0 auto;
    background: #efefef;
    color: #212121;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 10px 5px 15px #212121;
}

h1 {
    text-align: center;
}